<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAc3SnUx1PN2A0atc9RXyvV-f55O3GRwWM</string>
	<key>GCM_SENDER_ID</key>
	<string>231035988578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectresearch</string>
	<key>PROJECT_ID</key>
	<string>question-8ae19</string>
	<key>STORAGE_BUCKET</key>
	<string>question-8ae19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231035988578:ios:e8e937ca224cd86fd77f3b</string>
</dict>
</plist>